footer {
    width: 100%;
    height: 60px;
    background: #787276;
    color: #eee;
    padding:10px;
    text-align: center;
}

#name {
    background: purple;
    color: #eee; 
    padding: 5px;
    font-size: 24px;
    float: right;
}

.portfolioimg {
    height: 250px;
    width: 250px;
    z-index: 2;
    margin-right: 15px;
}

#Katie {
    height: 325px;
    width: 250px;
    /* margin-left: 15px; */
    float: left;
}


h3 {
    z-index: 3;
    position: relative;
    bottom: 50px;
    color: #eee;
    background: purple;
    padding: 3px;
    font-size: 14px;
    text-align: center;
    width: 250px;
}

 #page-container {
    position: relative;
    min-height: 100vh;
  } 

  .rotateimg180 {
    webkit-transform: rotate(180deg);
    moz-transform: rotate(180deg);
    ms-transform: rotate(180deg);
    o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


.look {
    background: lightblue;
    padding: 20px;
}

.navlist {
    flex-direction: row !important;
    text-align: right;
}

.content {
    min-height: 100%;
}

body, html {
    height: 95%;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

